@use "../settings" as *;

.divider {
  align-items: end;
  display: flex;
  height: 136px;
  justify-content: center;
  position: relative;
  z-index: 1;
  &__number {
    @include text-preset-5;
    align-items: center;
    background-color: $c-white;
    border-radius: 99px;
    border: 1px solid $c-slate-300;
    color: $c-slate-600;
    display: flex;
    height: 56px;
    justify-content: center;
    position: relative;
    width: 56px;
    &::before {
      background-color: $c-slate-300;
      content: "";
      height: 80px;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      width: 1px;
    }
  }
}
