@use "../settings" as *;

.main-content {
  padding: $spacing-400;
  @media (min-width: $breakpoint-sm) {
    padding-bottom: $spacing-800;
    padding-top: $spacing-700;
  }
}

.feature {
  margin-top: $spacing-800;
  @media (min-width: $breakpoint-lg) {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
  }
}

.feature__gallery {
  display: grid;
  gap: $spacing-200;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 $spacing-100;
  }
  img {
    border-radius: $border-radius-sm;
  }
}

.feature_article {
  margin-top: $spacing-800;
  margin-top: $spacing-800;
  text-align: center;
  @media (min-width: $breakpoint-sm) {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 60%;
  }
}

.feature_article__subtitle {
  @include text-preset-3;
  color: $c-cyan-600;
}

.feature_article__title {
  @include text-preset-2;
  color: $c-slate-900;
  margin-top: $spacing-200;
}

.feature_article__description {
  @include text-preset-4;
  color: $c-slate-600;
  margin-top: $spacing-400;
}
